@using WebApp.Controls
@model Controlador
@{
    string topLancamento = Model.TituloNovidade("lancamento");
    string descLancamento = Model.ConteudoNovidade("lancamento");
    string subLancamento = Model.SubNovidade("lancamento");
    string topDesign = Model.TituloNovidade("design");
    string descDesign = Model.ConteudoNovidade("design");
    string subDesign = Model.SubNovidade("design");
    string topProto = Model.TituloNovidade("prototipo");
    string descProto = Model.ConteudoNovidade("prototipo");
    string subProto = Model.SubNovidade("prototipo");
    string topFuturo = Model.TituloNovidade("futuro");
    string descFuturo = Model.ConteudoNovidade("futuro");
    string subFuturo = Model.SubNovidade("futuro");
    string topHelloWorld = Model.TituloNovidade("boasvindas");
    string descHelloWorld = Model.ConteudoNovidade("boasvindas");
    string subHelloWorld = Model.SubNovidade("boasvindas");
}

<div class="overflow-y">
    <div class="text-start m-1">
        <div class="row m-2">
            <div class="border border-1 border-primary rounded">
                <div class="card border border-0">
                    <div class="card-header">
                        postado em: 00/00/0000
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text pb-2">
                        </p>
                        <blockquote class="blockquote mb-0">
                            <footer class="fs-7 blockquote-footer">
                                Someone famous in <cite title="Source Title">Source Title</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                
                <h3>@(topProto)</h3>
                <label class="ms-4 text-muted user-select-none">
                    @Html.Raw(subProto)
                </label>
                <div class="d-flex">
                    <div class="col pt-2 pb-4 ms-5 col-7">
                        <label style="text-align: justify;">
                            @(descProto)
                        </label>
                    </div>
                    <div class="p-5"></div>
                    <div class="col col-2">
                        <label class="text-primary user-select-none">data do post:<br>10/06/2024</label>
                    </div>
                    <div class="p-5"></div>
                    <div class="col col-2">
                        <label class="text-primary user-select-none">autor:<br>Trevojan</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="border border-1 border-primary rounded">
                <h3>@(topDesign)</h3>
                <label class="ms-4 text-muted user-select-none">
                    @(subDesign)
                </label>
                <div class="d-flex">
                    <div class="col pt-2 pb-4 ms-5 col-7">
                        <label style="text-align: justify;">
                            @(descDesign)
                        </label>
                    </div>
                    <div class="p-5"></div>
                    <div class="col col-2">
                        <label class="text-primary user-select-none">data do post:<br>27/05/2024</label>
                    </div>
                    <div class="p-5"></div>
                    <div class="col col-2">
                        <label class="text-primary user-select-none">autor:<br>Trevojan</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="border border-1 border-primary rounded">
                <h3>@(topLancamento)</h3>
                <label class="ms-4 text-muted user-select-none">
                    @(subLancamento)
                </label>
                <div class="d-flex">
                    <div class="col pt-2 pb-4 ms-5 col-7">
                        <label style="text-align: justify;">
                            @(descLancamento);
                        </label>
                    </div>
                    <div class="p-5"></div>
                    <div class="col col-2">
                        <label class="text-primary user-select-none">data do post:<br>25/05/2024</label>
                    </div>
                    <div class="p-5"></div>
                    <div class="col col-2">
                        <label class="text-primary user-select-none">autor:<br>Trevojan</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>