@page "/novaconta"
@using WebApp.Controls
@using WebApp.Database
@model Controlador
@{
    ViewData["Title"] = "Criação de Conta";
    /*Controlador c = new();
    Out @out = new();

    Console.WriteLine("Iniciou a validação");
    bool checkSe = @out.CallPassword(c.NmSenha1, c.NmSenha2);
    Console.WriteLine("Chamou a senha");
    Console.WriteLine("Senha1: " + c.NmSenha1);
    Console.WriteLine("Senha2: " + c.NmSenha2);
    if (!checkSe)
    {
        bool checkLo = @out.CallUniqueLogin(c.NmLogin);
        Console.WriteLine("Chamou o login");
        Console.WriteLine("Login: " + c.NmLogin);
        if (!checkLo)
        {
            bool checkEm = @out.CallUniqueEmail(c.NmEmail);
            Console.WriteLine("Chamou o e-mail");
            if (!checkEm)
            {
                bool checkAp = @out.CallUniqueApelido(c.NmApelido);
                Console.WriteLine("Chamou o apelido");
                if (!checkAp)
                {
                    In @in = new();
                    @in.NovoUsuario(c.NmLogin, c.NmSenha1, c.NmEmail, c.NmApelido);

                }
            }
        }
    }*/
    
}

<script src="~/js/site.js"></script>
<div class="container-fluid d-flex justify-content-center pt-5">
    <div class="card col-5 border border-white">
        <div class="card-body">
            <div class="text-center">
                <h4 id="idCardTitulo" class="card-title p-2" aria-describedby="idCardSub">Criar nova conta</h4>
                <small id="idCardSub" class="p-4">Insira seus novos dados para começar a utilizar o Parapuãma!</small>
            </div>
            <div class="container d-flex justify-content-center mt-5">
                <form id="formNovaConta" class="col-12" method="POST" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <input type="text" class="form-control text-center" placeholder="Login inédito" asp-for=NmLogin />
                    </div>
                    <div class="mb-3 row">
                        <input type="text" class="form-control text-center" placeholder="Apelido criativo" asp-for=NmApelido />
                    </div>
                    <div class="text-center row text-black-50 mt-3 mb-4 user-select-none">
                        <span>________________________________________________________________</span>
                    </div>
                    <div class="mb-3 row">
                        <input type="password" class="form-control text-center" placeholder="Defina sua senha" asp-for=NmSenha1 />
                    </div>
                    <div class="mb-1 row">
                        <input type="password" class="form-control text-center" placeholder="Repita a senha" asp-for=NmSenha1 />
                    </div>
                    <div class="text-center row text-black-50 mt-3 mb-4 user-select-none">
                        <span>________________________________________________________________</span>
                    </div>
                    <div class="mb-3 row">
                        <input type="email" class="form-control text-center" placeholder="Seu melhor e-mail" asp-for=NmEmail />
                    </div>
                    <div class="text-center row text-black-50 mt-3 mb-4 user-select-none">
                        <span>________________________________________________________________</span>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <button type="submit" class="btn btn-primary">
                            Confirmar
                        </button>
                    </div>
                    <div class="mb-3 row">
                        <a href="#" class="btn btn-outline-primary" onclick="LimparNovaConta()">
                            Limpar campos
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
